DB_URL=postgresql://postgres:your-password@db.your-project-ref.supabase.co:5432/postgres
PORT=8080
PLATFORM=dev (leaving this as dev allows you access to the "reset" endpoint which will completely wipe your database so use wisely)
JWT_SECRET=replace-with-a-long-random-secret
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_SECRET=your-supabase-server-secret
